<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UPipelineMapper">
    
    <resultMap type="UPipeline" id="UPipelineResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="texture"    column="texture"    />
        <result property="price"    column="price"    />
        <result property="about"    column="about"    />
    </resultMap>

    <sql id="selectUPipelineVo">
        select id, type, texture, price, about from u_pipeline
    </sql>

    <select id="selectUPipelineList" parameterType="UPipeline" resultMap="UPipelineResult">
        <include refid="selectUPipelineVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectUPipelineById" parameterType="Long" resultMap="UPipelineResult">
        <include refid="selectUPipelineVo"/>
        where id = #{id}
    </select>

    <insert id="insertUPipeline" parameterType="UPipeline" useGeneratedKeys="true" keyProperty="id">
        insert into u_pipeline
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="texture != null">texture,</if>
            <if test="price != null">price,</if>
            <if test="about != null">about,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="texture != null">#{texture},</if>
            <if test="price != null">#{price},</if>
            <if test="about != null">#{about},</if>
         </trim>
    </insert>

    <update id="updateUPipeline" parameterType="UPipeline">
        update u_pipeline
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="texture != null">texture = #{texture},</if>
            <if test="price != null">price = #{price},</if>
            <if test="about != null">about = #{about},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUPipelineById" parameterType="Long">
        delete from u_pipeline where id = #{id}
    </delete>

    <delete id="deleteUPipelineByIds" parameterType="String">
        delete from u_pipeline where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>