<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserinfoMapper">
    
    <resultMap type="Userinfo" id="UserinfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="connection"    column="connection"    />
        <result property="telphone"    column="telphone"    />
        <result property="address"    column="address"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserinfoVo">
        select id, name, connection, telphone, address, create_by, create_time, update_by, update_time from userinfo
    </sql>

    <select id="selectUserinfoList" parameterType="Userinfo" resultMap="UserinfoResult">
        <include refid="selectUserinfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
        </where>
    </select>
    
    <select id="selectUserinfoById" parameterType="Long" resultMap="UserinfoResult">
        <include refid="selectUserinfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserinfo" parameterType="Userinfo" useGeneratedKeys="true" keyProperty="id">
        insert into userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="connection != null">`connection`,</if>
            <if test="telphone != null">`telphone`,</if>
            <if test="address != null">`address`,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="connection != null">#{connection},</if>
            <if test="telphone != null">#{telphone},</if>
            <if test="address != null">#{address},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserinfo" parameterType="Userinfo">
        update userinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="connection != null">`connection` = #{connection},</if>
            <if test="telphone != null">telphone = #{telphone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserinfoById" parameterType="Long">
        delete from userinfo where id = #{id}
    </delete>

    <delete id="deleteUserinfoByIds" parameterType="String">
        delete from userinfo where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>