<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增板片信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-plate-add">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">板片型号：</label>
                    <div class="col-sm-8">
                        <input name="type" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">材质：</label>
                    <div class="col-sm-8">
                        <input name="material" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">板片厚度：</label>
                    <div class="col-sm-8">
                        <input name="thinkness" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">板片重量：</label>
                    <div class="col-sm-8">
                        <input name="weight" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">板片单价：</label>
                    <div class="col-sm-8">
                        <input name="price" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/plate"
        $("#form-plate-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-plate-add').serialize());
            }
        }
    </script>
</body>
</html>