<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('afterSales列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>业务员：</label>
                            <input type="text" name="salesman"/>
                        </li>
                        <li>
                            <label>客户名称：</label>
                            <input type="text" name="customer"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:AfterSales:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:AfterSales:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:AfterSales:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-danger multiple disabled" onclick="gopass()"
               shiro:hasPermission="system:AfterSales:gopass">
                <i class="fa fa-remove"></i> 通过
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:AfterSales:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-warning" onclick="importJson()" shiro:hasPermission="system:AfterSales:export">
                <i class="fa fa-upload"></i> 导入
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:AfterSales:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:AfterSales:remove')}]];
    var prefix = ctx + "system/AfterSales";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "afterSales",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'formDate',
                    title: '下单日期'
                },
                {
                    field: 'salesman',
                    title: '业务员'
                },
                {
                    field: 'customer',
                    title: '客户名称'
                },
                {
                    field: 'customerAddr',
                    title: '客户地址'
                },
                {
                    field: 'quetion',
                    title: '问题描述'
                },
                {
                    field: 'deviceType',
                    title: '设备型号'
                },
                {
                    field: 'modifyTime',
                    title: '修改时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
<script type="application/javascript">
    var importJson = function () {
        prefix = ctx + "system/AfterSales";
        width = 800;
        height = 600;
        url = prefix + "/importJson";

        $.modal.open("导入售后单数据", url, width, height);
    }
    var gopass = function (id) {
        // 派工单验收通过，售后完成
        table.set();
        var id = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        console.log("gopass", id)
        prefix = ctx + "system/AfterSales";
        width = 800;
        height = 600;
        url = prefix + "/gopass/" + id;
        console.log(url);
        $.modal.open("通过售后单", url, width, height);
    }
</script>

</body>
</html>