<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增设备档案')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: bootstrap-typeahead-js"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-devInfo-add">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">出厂编号：</label>
                <div class="col-sm-8">
                    <input name="serialid" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">制造日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="makedate" class="form-control" placeholder="yyyy-MM-dd" type="text"
                               autocomplete="off">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">合同：</label>
                <div class="col-sm-8">
                    <input name="controct" class="form-control" type="text" placeholder="输入合同编号">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">购买方名称：</label>
                <div class="col-sm-8">
                    <input id="buyername" name="buyername" class="form-control" type="text">
                    <button type="button" th:onclick="newBuyer()">+</button>
                    <p id="buyerid"></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">用户名称：</label>
                <div class="col-sm-8">
                    <input id="usename" name="usename" class="form-control" type="text" readonly>
                    <button type="button" th:onclick="newUser()">+</button>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-suggest-js"/>
<th:block th:include="include :: bootstrap-typeahead-js"/>
<script type="text/javascript">
    let buyerid = ""; // 0:表示新增购买方
    let controct = "";
    let buyercon = "";
    let buyertel = "";
    let buyeraddr = "";
    let userid = ""; // 0:表示新增用户
    let username = "";
    let usercon = "";
    let usertel = "";
    let useraddr = "";
    let devserialid;
    let devmakedate;
    let devcontroct; // 设备销售合同
    let devbuyername; // 设备购买方
    let devusername; // 设备使用方


    $.get(ctx + "system/buyerinfo/sortlist", function(data){
        console.log(data.value)
        $("#buyername").typeahead({
            source: data.value
        });
    },'json');

</script>
<script th:inline="javascript">
    var prefix = ctx + "system/devInfo"
    $("#form-devInfo-add").validate({
        focusCleanup: true
    });
    // /* 提交 */
    // function submitHandler() {
    //     var name = $("#name").val();
    //     activeWindow().$('#connection').html(name);  // 回填到autoadd.html 的 username
    //     $.modal.close();
    // }
    function submitHandler() {
        console.log("devinfo add sumithandler")
        if ($.validate.form()) {
            // activeWindow().$("#connection").html(buyerid);
            //$.operate.save(prefix + "/add", $('#form-devInfo-add').serialize());
            // 保存devinfo，buyerinfo，userinfo
            devserialid = $("#serialid").val();
            devcontroct = $("#controct").val();
            devmakedate = $("#makedate").val();
            devbuyername = $("#buyername").val();
            devusername = $("#username").val();
            devinfogroup = "devserialid="+devserialid+"&"
            devinfogroup += "devcontroct="+controct+"&"
            devinfogroup += "devmakedate="+devmakedate+"&"
            devinfogroup += "devbuyername="+devbuyername+"&"
            devinfogroup += "devusername="+devusername+"&"

            devinfogroup += "buyerid="+buyerid+"&"
            devinfogroup += "buyercon="+buyercon+"&"
            devinfogroup += "buyertel="+buyertel+"&"
            devinfogroup += "buyeraddr="+buyeraddr+"&"

            devinfogroup += "userid="+userid+"&"
            devinfogroup += "username="+username+"&"
            devinfogroup += "usercon="+usercon+"&"
            devinfogroup += "usertel="+usertel+"&"
            devinfogroup += "useraddr="+useraddr;
            //newdevinfosave(devinfogroup); // devinfogroup设备信息组，包含devinfo,buyerinfo,userinfo 如果有
            $.operate.save(prefix + "/devinfogroupaddsave",devinfogroup);
        }
    }

    $("input[name='makedate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
<script th:inline="javascript">

    function newBuyer() {
        var prefix2 = ctx + "system/buyerinfo";
        var options = {
            title: '新增购买方',
            url: prefix2 + "/add",
            callBack: function(index,layero){
                console.log("selectUsersToParent4 callback",index)
                doSubmit4(index,layero);
            },
        };
        $.modal.openOptions(options);
    }

    function doSubmit4(index, layero) {
        var prefix2 = ctx + "system/buyerinfo";
        let body = $.modal.getChildFrame(index);
        //var cc = body.find('#connection').val();
        buyerid = 0;
        buyercon = body.find('#connection').val();
        buyertel = body.find('#tel').val();
        buyeraddr = body.find('#addr').val();
        $("#buyername").val(buyercon);

console.log("doSubmit4 : " );
        //var r = newdevinfosave(cc);
        // $.operate.save(prefix2 + "/addsave", cc);

        $.modal.close(index); //关闭buyerinfo/add窗口
alert("doSubmit4");
    }



    // 新增用户信息
    var newUser = function() {
        console.log("newUser . ....");
        var prefix2 = ctx + "system/userinfo";
        var options = {
            title: '新增使用方',
            url: prefix2 + "/add",
            callBack: function (index, layero){
                var body = $.modal.getChildFrame(index);
                userid = 0;
                username = body.find('#username').val();
                usercon = body.find('#connection').val();
                usertel = body.find('#tel').val();
                useraddr = body.find('#addr').val();
                $("#usename").val(username);

                //var cc = body.find('#form-userinfo-add').serialize()
                console.log(body)
                //var r = $.operate.save(prefix2 + "/addsave", cc);
                //$("#userid").html(r);

                $.modal.close(index);
            },

        };
        $.modal.openOptions(options);
    }

    var newdevinfosave = function (devinfogroup){
        let prefix2 = ctx + "system/devinfo";
        $.ajax({
            type: 'POST',
            url: prefix2 + "/devinfogroupaddsave",
            data: {devinfogroup},
            success: function(data,textStatus,jqXHR){
                console.log("newdevinfosave"+data);
                if (data == "1"){
                    $.modal.close();
                }
            },
            error: function(jqXHR,textStatus){
                console.log("请求失败，请稍后重试!");
                alert("请求失败，请稍后重试!")
            }
        })
    }

</script>
</body>
</html>